# buf_lint_test requires --include_source_info to be set on protoc invocations.
# See https://github.com/bazelbuild/rules_proto/issues/56#issuecomment-627860112
common --experimental_proto_descriptor_sets_include_source_info
