# Go
/chat-app
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
go.work
go.work.sum

# Bazel
bazel-*

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
*.swp
*.swo
*~
