apiVersion: v1
kind: Secret
metadata:
  name: user-db-admin-secret
  namespace: user
type: kubernetes.io/basic-auth
stringData:
  username: user_admin
  password: user_admin
---
apiVersion: v1
kind: Secret
metadata:
  name: user-db-rpc-secret
  namespace: user
type: kubernetes.io/basic-auth
stringData:
  username: user_rpc
  password: user_rpc
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: user-db
  namespace: user
spec:
  instances: 3

  imageCatalogRef:
    apiGroup: postgresql.cnpg.io
    kind: ClusterImageCatalog
    name: postgresql
    major: 18

  postgresql:
    parameters:
      default_transaction_isolation: 'serializable'
      # See https://cloudnative-pg.io/docs/1.28/postgresql_conf for more info
      # on why we set the following parameters.
      wal_level: 'replica'
      auto_explain.log_min_duration: "10s"
      pg_stat_statements.max: "10000"
      pg_stat_statements.track: all

  bootstrap:
    initdb:
      database: user
      owner: user_admin
      secret:
        name: user-db-admin-secret
  managed:
    roles:
      - name: user_admin
        ensure: present
        login: true
        superuser: true
        passwordSecret:
          name: user-db-admin-secret
      - name: user_rpc
        ensure: present
        login: true
        superuser: false
        passwordSecret:
          name: user-db-rpc-secret

  storage:
    size: 2Gi